body
{
    background-image: url("img/uslugi.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#button_pulpit
{
    position: fixed;
    background-color: invisible;
    height: 35px;
    width: 35px;
    margin-top: 707px;
    margin-left: 20px;
    z-index: 1000;
}

#button_dokumenty
{
    position: fixed;
    background-color: invisible;
    height: 35px;
    width: 35px;
    margin-top: 707px;
    margin-left: 97px;
    z-index: 1000;
}

#button_kodqr
{
    position: fixed;
    background-color: invisible;
    height: 35px;
    width: 35px;
    margin-top: 707px;
    margin-left: 250px;
    z-index: 1000;
}

#button_inne
{
    position: fixed;
    background-color: invisible;
    height: 35px;
    width: 35px;
    margin-top: 707px;
    margin-left: 325px;
    z-index: 1000;
}